<div class="row">
  <div class="col-md-4">
    <p>All Numbers</p>
    <ul class="list-group">
      <li
        class="list-group-item"
        [ngClass]="{ even: number % 2 === 0, odd: number % 2 === 1 }"
        *ngFor="let number of numbers"
      >
        {{ number }}
      </li>
    </ul>
  </div>
  <div class="col-md-4">
    <p>Even Numbers</p>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let number of numbers">
        {{ number }}
      </li>
    </ul>
  </div>
  <div class="col-md-4">
    <p>Odd numbers</p>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let number of numbers">
        {{ number }}
      </li>
    </ul>
  </div>
</div>
